iframe(
  src='/donate.html', 
  style='overflow-x:hidden;overflow-y:hidden; border:0xp none #fff; min-height:240px; width:100%; margin-top:-5em; margin-bottom:-6em;', 
  frameborder='0', 
  scrolling='no', 
  allowtransparency='true'
)